body {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
background: linear-gradient(#c41230, #8b0c22);
text-align: center;
color: white;
}


.title {
margin-top: 30px;
font-size: 2.8rem;
text-shadow: 3px 3px 8px rgba(0,0,0,0.4);
}


.subtitle {
margin-bottom: 20px;
font-size: 1.2rem;
}


.calendar-grid {
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 15px;
max-width: 900px;
margin: 30px auto;
padding: 10px;
}


.door {
background: #fff4e6;
color: #8b0c22;
border-radius: 15px;
padding: 25px;
font-size: 1.7rem;
cursor: pointer;
transition: 0.25s;
border: 4px solid #8b0c22;
box-shadow: 0 5px 12px rgba(0,0,0,0.25);
user-select: none;
}


.door:hover {
transform: scale(1.09);
}


.locked {
background: #5a0015;
color: #fff;
cursor: not-allowed;
opacity: 0.55;
}